<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tutorial.android.endava.androidtutorial">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".intro.PresentationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chapter_list.PlacesToSeeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chapter_list.TouristTrapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chapter_activties.ActivitiesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chapter_activties.PauseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chapter_list.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".chapter_photography.PhotographyActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".chapter_layouts.PostcardActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".chapter_layouts.PostcardDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>